<!DOCTYPE html>
<html>
<head>
	<title>StudentEngaementApp</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../style.css">
<style type="text/css">
    .c1:hover
{
  color:white;
  text-decoration:underline;
}
</style>

</head>
<body>
<div style="background-color:#ff751a;
  height:50px;width:125%">
<label style="color:white;
  margin-left:3%;
  font-size:25px" class="">Assignment</label>
   <form style="margin-top:-3%;font-size:20px;margin-left:66%">
  <button class="c1" style=" background:transparent;
  border:none;" formaction="/view_assign/<%=res2[0]._id%>">View Assignments</button>|
  </form>
   <form style="margin-top:-2.4%;font-size:20px;margin-left:80%">
  <button class="c1" style=" background:transparent;
  border:none;" formaction="/view_tests/<%=res2[0]._id%>/<%=email%>">View Tests</button>
  </form>
</div>
<div class="container">
	<form class="form1">
     <form method="get">
     
        <div class="form-group" style="">
         <label for="Name" class="l1" >Name:</label>
         <input type="text" class="form-control" name="aname" placeholder="Ex:sree" pattern="[a-zA-Z]+[0-9]*$" title="Format:letters digits">
        </div>
        <div class="form-group" style="margin-top:-10px">
         <label for="Reg No" class="l1" >Assignment ID:</label>
         <input type="text" class="form-control" name="aid" placeholder="Ex:U4CSEA001"  
         pattern="^(U4)(CSE|ECE|EEE|MEC)[a-zA-Z]*[0-9]{3}$" title="Format: U4 (CSE|ECE|MEC|EEE),any alphabet,
          3 digits"> 
        </div>
        <div class="form-group" style="margin-top:-10px">
         <label for="date" class="l1" >Date Of Submission:</label>
         <input type="date" class="form-control" name="adate" placeholder="Enter yyyy-mm-dd" format="yyyy-mm-dd" min="2015-01-01" max="2019-12-31" >
        </div>
        <div class="form-group" style="margin-top:-10px">
        <label for="cou" class="l1" >Branch:</label><br>
        <label class="l1" style="margin-left:5%"> <input type="radio" name="acou" value="CSE">CSE</label>
        <label class="l1" style="margin-left:5%"> <input type="radio" name="acou" value="ECE" >ECE</label>
        <label class="l1" style="margin-left:5%"> <input type="radio" name="acou" value="MEC">MEC</label>
         <label class="l1" style="margin-left:5%"><input type="radio" name="acou" value="EEE">EEE</label>
        </div>
        <div class="form-group" style="margin-top:-10px">
         <label for="Phone no" class="l1">File:</label>
         <input type="file" class="form-control" pattern="" name="afile[]" placeholder="" title="" readonly="readonly" value="NULL">
        </div>
        <div class="form-group" style="margin-top:-10px">
         <label for="Marks" class="l1">Marks:</label>
         <input type="text" class="form-control" pattern="" name="amarks[]" placeholder="Marks" readonly="readonly" value="NULL">
        </div>
        <div class="form-group" style="margin-top:-10px">
         <label for="Reg" class="l1">Reg:</label>
         <input type="text" class="form-control" pattern="" name="areg[]" placeholder="Reg.no" readonly="readonly" value="NULL">
        </div>
       
    <br>
	<br>
    <div style="margin-top:-6%">
    <button type="submit" class="btn blue" formaction="/add_assign/<%=res2[0]._id%>" value="Add">Add</button>
    </div>
     <div style="margin-top:3%">    
       <button type="submit" class="btn blue" formaction="/remove_assign/<%=res2[0]._id%>"  value="Remove">Remove</button>
    </div>
    </form>
    
  	</form>
    <h6>*just type Assignment-ID to remove</h6>
			
			
	
</div>
</body>

</html>